html,
body {
    margin: 0;
}
/*
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}
*/
#btn-container {
    display: flex;
    margin-top: 20px;
}
/*
#task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}
*/
#task-list {
    display: none;
}
/*
#show-hide-tasks-btn {
    position: absolute;
    top: 200px;
}*/